body{
    margin: 0px; /*body에 margin 기본 8px*/
    background-image: url("imges/detailed-hand-painted-pink-watercolour-background_1048-17039.avif");
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    background-color: rgb(255, 255, 255);
    min-height: 100vh; /*view height 보는 화면의 높이만큼*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-area{
    border: 1px solid lightblue;
}
.task-tabs{
    display: flex; /*가로 정렬 (부모에게 적용해야함)*/
    border-bottom: 1px solid lightblue;
    position: relative; 
    /*언더라인의 부모인 task-tabs에  position: relative;이렇게 줘야 
    언더라인의 position:absolute의 기준점이  task-tabs이 됨 */

}
.task-tabs div{
    padding: 1em;
}
#under-line{
    height: 4px;
    background-color: pink;
    position:absolute;
    width: 80px;
    left:0px;
    top: 52px;
    padding: 0px;
}
.task{
    display: flex;
    justify-content: space-between; /*서로의 간격 조정*/
    padding: 1em;
}
.task-done{
    text-decoration: line-through; /*텍스트에 밑줄*/
}

.task-tabs div{
    cursor:pointer;
}